@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --color-main-dark: #485461;
  --gradient-main-dark: linear-gradient(315deg, #485461 0%, #28313b 74%);

  --color-main-light: #ffffff;
  --gradient-main-light: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
  
  --color-footer : #f7f7f7;
  --color-blog: #042c54;
  --color-text: #747578;
  --color-subtext: #FF8A71;
}

